/* Reset default styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --PrimaryColor: hsl(26, 93%, 50%);
    --HoverColor: hsl(26, 90%, 42%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --textColor: hsl(240, 1%, 48%);
    --whiteColorDeam: hsl(0, 0%, 93%);
    --greyBg: hsl(0, 0%, 96%);
    --greyText: rgb(190, 190, 190);
    --inputColor: hsl(330, 12%, 97%);
    --birdong: #0b4970;
    --orenterang: #F45905;
    --orenpastel: #FB9224;
    --kuning: #FBE555;
    --font-family: 'Poppins', sans-serif;
    --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    --border-radius: 12px;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    line-height: 1.6;
}

.menu-btn {
    display: none;
}

.profil-container {
    max-width: 1250px;
    margin: 20px auto;
    padding: 40px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.profil-header, .profil-header-tujuan, .profil-header-sambutan {
    text-align: center;
    margin-bottom: 10px;
}

.profil-title {
    font-size: 1.5rem;
    margin-top: 50px;
    color: var(--birdong);
    /* margin-bottom: 2rem; */
    font-weight: bold;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    position: relative;
    text-align: center;
}

.profil-title::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--orenpastel);
    display: block;
    margin-top: 50px;
    margin: 0.5rem auto;
    border-radius: var(--border-radius);
    text-align: center;
}

.profil-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
    text-align: center;
}

.profil-section {
    background-color: var(--orenpastel);
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    width: 35%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profil-section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--birdong);
}

.profil-section-title {
    color: var(--whiteColor);
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

 .profil-footer-content-text {
    color: #FFFFFF;
    margin-bottom: 10px;
    font-size: 1rem;
}

.profil-section-visi {
    margin-bottom: 10px;
    font-size: 15px;
    display: flex;
}

.profil-section-text {
    font-size: 13px;
    text-align: justify;
}

.profil-footer-title {
    font-size: 1.5rem;
    margin-top: 50px;
    color: var(--birdong);
    /* margin-bottom: 2rem; */
    font-weight: bold;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    position: relative;
    text-align: center;
}

.profil-footer-title::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--orenpastel);
    display: block;
    margin-top: 50px;
    margin: 0.5rem auto;
    border-radius: var(--border-radius);
    text-align: center;
    margin-bottom: 25px;
}

.profil-footer-title2 {
    font-size: 1.5rem;
    margin-top: 50px;
    color: var(--birdong);
    /* margin-bottom: 2rem; */
    font-weight: bold;
    /* text-transform: uppercase; */
    /* letter-spacing: 2px; */
    position: relative;
    text-align: center;
}

.profil-footer-title2::after {
    content: '';
    width: 80px;
    height: 4px;
    background: var(--orenpastel);
    display: block;
    margin-top: 50px;
    margin: 0.5rem auto;
    border-radius: var(--border-radius);
    text-align: center;
    margin-bottom: 25px;
}

.profil-tujuan {
    background-color: #FB9224;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profil-tujuan:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #2A1A5E;
}

.profil-sambutan-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.profil-sambutan {
    background-color: #FB9224;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 68%;
    text-align: center;
}

.profil-foto {
    background-color: #FB9224;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 30%;
    text-align: center;
}

.profil-sambutan:hover, .profil-foto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: #2A1A5E;
}

.profil-footer-content {
    margin-bottom: 20px;
}

.profil-footer-content-title {
    color: #FFFFFF;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
}

.foto {
    text-align: center;
    margin-top: 20px;
}

.foto h3{
    font-size: 1.2rem;
    bottom: -10px;
}

.foto img {
    max-width: 30%;
    height: auto;
    border-radius: 50px;
}

.foto-caption {
    margin-top: 10px;
    color: #FFFFFF;
}

/* Responsive design */
@media (max-width: 768px) {
    .profil-content, .profil-sambutan-container {
        flex-direction: column;
    }

    .profil-section, .profil-sambutan, .profil-foto {
        width: 100%;
        margin-bottom: 20px;
    }

    .profil-header, .profil-header-tujuan, .profil-header-sambutan {
        margin-bottom: 10px;
    }
}

/* header */
header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 130px;
    transition: 0.5s ease;
}

header .plant {
    color: #FB9224;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;
}

header .navigation .navigation-items a {
    position: relative;
    color: #2A1A5E;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
    content: '';
    position: absolute;
    background: #FB9224;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover,
header .navigation .navigation-items a:hover:before {
    color: #FB9224;
}

header .navigation .navigation-items a:hover:before {
    background: #FB9224;
    width: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    backdrop-filter: blur(20px);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: filter 0.3s ease;
}

.dropdown-content a:hover {
    filter: blur(30%);
    color: #FB9224;
}

.dropdown:hover .dropdown-content {
    display: block;
}

section {
    padding: 100px 200px;
}

/* Untuk tampilan mobile (lebar layar maksimum 768px) */
@media (max-width: 768px) {
    header {
        padding: 15px 20px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    header .plant {
        font-size: 1.2em;
    }

    header .navigation {
        display: none; /* Sembunyikan navigasi di mobile */
    }    

    .menu-btn {
        display: block !important;
        cursor: pointer;
    }

    .sidebar.active {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        background-color: var(--PrimaryColor);
        padding: 20px;
        transition: transform 0.3s ease;
        transform: translateX(0);
    }

    .sidebar {
        display: none;
        transform: translateX(-100%);
    }

}

/* Icon */
.sidebar{
    display: none; /* Pastikan sidebar tersembunyi secara default */
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    flex-direction: column;
    padding: 20px;
    z-index: 999;
    transition: transform 0.3s ease;
  }

  .sidebar li{
    margin: 14px 20px;
  }

  .sidebar li a {
    text-decoration: none;
    color: #2A1A5E;
    font-size: 15px;
    font-weight: bold;
    }

    .sidebar li a {
        text-decoration: none;
        color: #2A1A5E;
        font-size: 15px;
        font-weight: bold;
    }

    .sidebar li a:hover {
        color: white;
    }

    .sidebar a{
        width: 100%;
    }

  .menu-button{
    display: block; /* Tampilkan menu button di mobile */
    cursor: pointer;
  }
  @media(max-width: 800px){
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
  }
  @media(max-width: 400px){
    .sidebar{
      width: 100%;
    }
  }

/* selesai icon */

footer {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 150px;
    padding: 50px 100px;
    background: #2A1A5E;
    bottom: 0;
}

footer .container {
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

footer .container .sec h2 {
    position: relative;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .container .sec p {
    color: #fff;
}

footer .container .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

footer .container .sci li {
    list-style: none;
}

footer .container .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #F45905;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

footer .container .sci li a i {
    color: #fff;
    font-size: 20px;
}

footer .container .contact .info {
    position: relative;
}

footer .container .contact .info li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .container .contact .info li span {
    color: #fff;
    font-size: 20px;
}

footer .container .contact .info li a {
    color: #fff;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background: #2A1A5E;
    padding: 20px 100px 20px;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

/* Responsive design for mobile */
@media (max-width: 768px) {
    footer {
        margin-top: 200px;
    }

    footer .kontainer {
        flex-direction: column;
        align-items: left;
    }

    footer .sec.aboutus, footer .sec.contact {
        text-align: left;
    }

    footer .sec.contact ul.ket {
        display: flex;
        flex-direction: column;
        align-items: left;
    }

    footer .sec.contact ul.ket li {
        margin-bottom: 10px;
    }
}
  