@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* body {
    display: grid;
    justify-content: center;
    align-items: end;
    min-height: 100vh;
    background: #e8e8e8;
    padding: 50px;
} */

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #2A1A5E;
    bottom: 0;
}

<<<<<<< HEAD
footer .container {
    font-size: 14px;
=======
footer .kontainer {
>>>>>>> d35c65a64655ea836d719b520b4103ddcd0c131e
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

footer .kontainer .sec h2 {
    position: relative;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
}

footer .kontainer .sec p {
    color: #fff;
}

footer .kontainer .sci {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
}

footer .kontainer .sci li {
    list-style: none;
}

footer .kontainer .sci li a {
    display: inline-block;
    width: 36px;
    height: 36px;
    background: #F45905;
    display: grid;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

footer .kontainer .sci li a i {
    color: #fff;
    font-size: 20px;
}

footer .kontainer .contact .ket {
    position: relative;
}

footer .kontainer .contact .ket li {
    display: grid;
    grid-template-columns: 30px 1fr;
    margin-bottom: 16px;
}

footer .kontainer .contact .ket li span {
    color: #fff;
    font-size: 20px;
}

footer .kontainer .contact .ket li a {
    color: #fff;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background: #2A1A5E;
    padding: 20px 100px 20px;
    text-align: center;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

@media (max-widht: 991px) {
    footer {
        padding: 40px;
    }

    footer .kontainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);;
        grid-gap: 20px;
    }

    .copyrightText {
        padding: 20px 40px 30px;
    }
}

@media (max-width: 768px) {
    footer .kontainer {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);;
        grid-gap: 20px;
    }


}